# -----------------------------------------------------------------------------------------------------------
# This is the main environment variables file for application.
# This file should NOT be versioned (.env is in .gitignore).
#
# Keep this template (.env.example) updated as new variables are added.
# -----------------------------------------------------------------------------------------------------------

# Application environment: (development | staging | production)
NODE_ENV="development"